/* General setup */
html{
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}

body {
  letter-spacing: 1px;
  word-spacing: 1px;
}

/* Header */
header{
	height: 10%;
	padding: 0 20%;
	z-index: 2;
}

header img {
	height: 70px;
}

nav ul li{
	list-style-type: none;
}

nav ul li .login {
	border-radius: 18px;
	border: 1px solid #E50BE3;
}

nav ul li .register {
	margin-left: 40px;
}

/* Section top-movies */

.top-movies{
	background-image: url('images/castle.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1;
	display: flex;
}

.top-movies::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.4;
	z-index: -1;
}

.top-movies div{
	width: 60%;
}

.top-movies span{
	color: #E50BE3;
}

.top-movies a{
	background: rgb(245,23,243);
	background: linear-gradient(90deg, rgba(245,23,243,1) 0%, rgba(229,11,227,1) 35%, rgba(190,6,188,1) 100%); 
	padding: 10px 40px;
	border-radius: 18px;
}

section .navigation {
	list-style-type: none;
	bottom: 10vh;
	left: 20%;
	z-index: 2;
}

section .navigation li {
	background-color: white;
	border-radius: 50%;
	padding: 6px;
	margin-right: 4px;
	border: 2px solid white;
	cursor: pointer;
}

section .navigation li.special {
	border: 2px solid white;
	background-color: transparent;
}

section .left-arrow {
	position:absolute;
	top: 50vh;
	left: 2%;
	z-index: 2;
}

section .right-arrow {
	position:absolute;
	top: 50vh;
	right: 2%;
	z-index: 2;
}


/* Section New in */

.new-movies{
	width: 60%;
}

.new-movies h2{
	padding-bottom: 10px;
	color: #E50BE3;
	border-bottom: 1px solid lightgray;
	margin: 50px 0;
}

.new-movies h2::before{
	content: '';
	width: 10%;
	bottom: 0;
	left: 0;
	position: absolute;
	border-bottom: 2px solid #E50BE3;
}

.new-movies div.wrapper div img{
	border-radius: 15px;
	width: 300px;
	height: 350px;
}

/* Movies */

.movies{
	width: 60%;
}

.movies ul{
	border-bottom: 1px solid lightgray;
	margin-top: 100px;
	margin-bottom: 40px;
}

.movies ul li span{
	color: #E50BE3;
}

.movies div.wrapper div{
    padding-bottom: 30px;
	margin-bottom: 30px;
}

.movies div.wrapper div.special{
	border-bottom: 1px solid lightgray;
}

.movies div.wrapper div img{
	width: 200px; 
	height: 250px;
	margin-right: 20px;
	border-radius: 18px;
}

.movies div.wrapper div span.type{
	color: #E50BE3;	
}

.movies div.wrapper div h3{
	margin-bottom: 10px;
}

.movies div.wrapper div.wrapper-time span.view i{
	margin-right: 5px;
}

.movies div.wrapper div.wrapper-time span.time {
	background-color : lightgray;
	border-radius: 18px;
	padding: 10px 15px;
}

.movies div.wrapper div.wrapper-time span.duration {
	margin-left: 80px;
}

/* Most Viewed-movies */

.most-viewed-movies {
	width: 60%;
}

.most-viewed-movies h2 {
	padding-bottom: 10px;
	color: #E50BE3;
	border-bottom: 1px solid lightgray;
	margin-bottom: 50px;
}

.most-viewed-movies h2::before{
	content: '';
	width: 16%;
	bottom: 0;
	left: 0;
	position: absolute;
	border-bottom: 2px solid #E50BE3;
}

.most-viewed-movies div {
    margin-bottom: 50px;
}

.most-viewed-movies img {
	border-radius: 18px;
}

.most-viewed-movies p {
	margin-bottom: 40px;
}


/* Footer */

footer{
	height: 25vh;
	padding: 0 20%;
}

footer div h4{
	color: #E50BE3;
	letter-spacing: 2px;
	margin-bottom: 8px;
}

footer div a {
	transition: color 0.3s ease-in-out;
}

footer div a:hover ,i.footer:hover {
	color: #E50BE3;
	transition: color 0.3s ease-in-out;
}

footer div a i {
	margin-right: 10px;
	color: gray;
}

footer div input[type=text]{
	outline: none;
	padding: 4px 10px;
	border-radius: 5px;
	border: 1px solid #fff;
	width: 150px;
}

footer div input[type=text]:focus {
	border: 1px solid #E50BE3;
}

footer div input[type=submit] {
	cursor: pointer;
	color: #E50BE3;
	border-color: #E50BE3;
	margin-top: 7px;
	padding: 5px 15px;
	background-color: transparent;
	border-radius: 18px;
	transition: color 0.3s ease-in-out;
}

footer div input[type=submit]:hover{
	background: rgb(245,23,243);
	background: linear-gradient(90deg, rgba(245,23,243,1) 0%, rgba(229,11,227,1) 35%, rgba(190,6,188,1) 100%); 
	color: #fff;
	transition: color 0.3s ease-in-out;
}

/* Contact */

div.hero {
	background-image: url('images/america.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 50vh;
	z-index: 1;
}

div.hero::before{
	content: '';
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 0.5;
	z-index: -1;
}

.contact {
	width: 60%;
}

.contact h2{
	color: #E50BE3;
	border-bottom: 1px solid lightgray;
	padding-bottom: 10px;
	margin: 40px 0;
}

.contact h2::before{
	content: '';
	width: 15%;
	bottom: 0;
	left: 0;
	position: absolute;
	border-bottom: 2px solid #E50BE3;
}

.contact div.wrapper{
	margin-bottom: 80px;
} 

.contact div.wrapper form label {
	margin-bottom: 3px;
	margin-top: 20px;
}

.contact div.wrapper form input {
	outline: none;
	padding: 8px;
	width: 600px;
	border: 1px solid gray;
	transition: border 0.5s ease-in-out;
}

.contact div.wrapper form input:focus {
	border: 1px solid #E50BE3;
	transition: border 0.5s ease-in-out;
}

.contact div.wrapper form textarea{
	outline: none;
	height: 200px;
	padding: 8px;
	border: 1px solid gray;
	transition: border 0.5s ease-in-out;
}

.contact div.wrapper form textarea:focus{
	border: 1px solid #E50BE3;
	transition: border 0.5s ease-in-out;
}

.contact div.wrapper form input.button {
	width: 150px;
	border-radius: 18px;
	color: #E50BE3;
	border: 1px solid #E50BE3;
	background-color: transparent;
	cursor: pointer;
	margin-top: 30px;
	transition: background 0.5s ease-in-out;
}

.contact div.wrapper form input.button:hover{
	background-color: #E50BE3;
	color: #fff;
	transition: background 0.5s ease-in-out;
}

.contact div.wrapper address i {
	border: 1px solid gray;
	border-radius: 50%;
	padding: 25px;
	color: #E50BE3;
	margin-bottom: 5px;
}

.contact div.wrapper address p{
	margin-bottom: 20px;
}

.address iframe{
	width: 60%;
	height: 450px;
	border-radius: 20px;
	margin-bottom: 80px;
}


/* About */

.about{
	width: 60%;
}

.about h2{
	color: #E50BE3;
	margin-top: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid lightgray;
}

.about h2::before{
	content: '';
	width: 10%;
	bottom: 0;
	left: 0;
	position: absolute;
	border-bottom: 2px solid #E50BE3;
}

.about div{
	margin-bottom: 80px;
}

.about img {
	width: 40vh;
}

.about p {
	width: 70vh;
	margin-top: 40px;
}

/* Register */

form div label{
	font-weight: 300;
}

form div input {
	outline: none;
	padding: 8px;
	width: 400px;
	border: 1px solid gray;
}

form div button {
	width: 120px;
	border-radius: 18px;
	color: #E50BE3;
	border: 1px solid #E50BE3;
	background-color: transparent;
	cursor: pointer;
	transition: background 0.5s ease-in-out;
}

form button.login {
	background-color: transparent;
	cursor: pointer;
}

form div button:hover{
	background-color: #E50BE3;
	color: #fff;
	transition: background 0.5s ease-in-out;
}

p.error {
	color: red;
	font-size: 12px;
}

/* Media screen 1650px */

@media screen and (max-width: 1650px) {
  header{
	padding: 0 10%;
  }
  
  .top-movies div{
	width: 80%;
  }
  
  section .navigation {
	  left: 10%;
  }
  
  .new-movies{
	width: 80%;
  }
  
  .movies{
	width: 80%;
  }
  
  .most-viewed-movies{
	width: 80%;
  }
  
  footer{
	padding: 0 10%;
  }
  
  /* about */
  
  .about{
	width: 80%;
  }
  
  /* contact */
  
  .contact{
	width: 80%;
  }
  
  .address iframe{
	width: 80%;
  }
}


/* Media screen 1250px */

@media screen and (max-width: 1250px) {
	
  /* About */
  
  .about div p{
	width: 100%;
  }
  
  .about div img{
	margin-top: 30px;
	width: 100%;
  }
  
  /* Contact */
  
  .contact div.wrapper form{
	margin-bottom: 50px;
  }
}


/* Media screen 700px */

@media screen and (max-width: 700px) {
  header{
	  height: 10vh;
  }
  
  section .navigation {
	  bottom: 5vh;
  }
  
  .most-viewed-movies img {
	width: 300px;
	height: 150px;
  }
  
  footer{
	flex-flow: column;
	height: 55vh;
  }
  
   .contact div.wrapper form input{
	width: 70vw;
  }

   form div input{
	width: 70vw;
  }
}





